<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="DFM Automation Flow" thread-count="1">

	<test name="DFM Login" thread-count="1" preserve-order="true"  enabled="true">
		<parameter name="browser" value="Edge">
			<classes>
				<class name="com.ms.dfm.TC_01_Home_Login"/>
				<class name="com.ms.dfm.TC_02_CollectCaseStatusAndSeverity"/>
				<class name="com.ms.dfm.TC_03_GetCaseLogs"/>
			</classes>
		</parameter>
	</test>

	<listeners>
		<listener class-name="com.ms.dfm.utils.listeners.AnnotationTransformer"></listener>
	</listeners>

</suite> 
